<%- include('header') %>

  <div class="index">
    <main>
      <div>
        <h1><a href="/"><img class="imge" src="/resume.png"></a></h1>
      </div>
          <p>Welcome to my <strong><%= modulo.title %></strong></p>
          <a href="/cover">Look That</a>
    </main>

    <footer>
        <p class="foot">By Rogpe - version <%= modulo.version %></p>
    </footer>
  </div>

<%- include('footer') %>